pip install PyQt5
pip install qrcode
pip install opencv-python-headless
pip install sh
pip install gphoto2
pip install cloudinary


sudo apt-get install gphoto2
sudo apt-get install libxcb-xinerama0
sudo apt install v4l-utils
sudo apt install ffmpeg
